<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :status %><br>
    <% statuses = Comment.statuses.keys %>
    <%= form.select :status, statuses, selected: statuses.first %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
